@import url(http://fonts.googleapis.com/css?family=Geo&subset=latin);
html, body{
    min-width: 100%;
    min-height: 100%;
}
header{
    width: 100%;
    height: 100px;
    background-color: green;
    color: white;
    font-family: 'Geo', serif;
    font-size: 52px;
    text-align: center;
}
.mainContentBox{
    margin: 0 auto;
    margin-top: 30px;
    padding: 4px;
    width: 100%;
    height: 100%;
    background-color: rgb(186, 219, 186);
    border: 6px solid green;
}
.tBox{
    margin: 0 auto;
    color: white;
    margin-top: 20px;
    text-align: center;
    font-family: 'Geo', serif;
    width: 100%;
    height: 100%;
    background-color: green;
}
#guessedBox{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: green;
}
#imgBox{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: green;
}
#wordToGuess{
    letter-spacing: 3px;
    color:white;
    font-family: 'Geo', serif;
    font-size: 40px;
}
#gRemaining{
    height:200px;
    color:white;
    font-family: 'Geo', serif;
    font-size: 38px;
    margin-left: 8px;
}
#guessed{
    height:200px;
    color:white;
    font-family: 'Geo', serif;
    font-size: 38px;
    margin-left: 8px;    
}
#myimg{
    height:350px;
    width: 100%;
}
img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
  }
#wins{
    height:50px;
    color:white;
    font-family: 'Geo', serif;
    font-size: 22px;
    margin-left: 8px;
}
#losesound{
    font-size:10px;
}
#winsound{
    font-size:10px;
}


